@inherits LayoutComponentBase
@using WorklogDomain
@inject HttpClient Http


@if (AuthData == null)
{
    <div class="page">
        <div class="main">
            <div class="content px-4">
        <p>Checking Auth ...</p>
                </div>
            </div>
    </div>
}
else if (!AuthData.IsAuthorized)
{
        <div class="page">
            <div class="main">
            <div class="content px-4">
    <p>Please Auth <input type="text" @onchange="@((ChangeEventArgs __e) => Authorize(__e.Value.ToString()))"/></p>
            </div>
                </div>
            </div>
}
else
{
    <div class="page">
        <div class="sidebar">
            <NavMenu />
        </div>

        <div class="main">
            <div class="content px-4">
                @Body
            </div>
        </div>
    </div>
}
@code {
    protected AuthData AuthData;
    protected string Namespace = "";

    protected override async Task OnInitializedAsync()
    {
        AuthData = await Http.GetFromJsonAsync<AuthData>("api/auth");
    }
    protected async Task Authorize(string auth)
    {
        await Http.PostAsJsonAsync("api/auth", auth);
        AuthData = await Http.GetFromJsonAsync<AuthData>("api/auth");
    }
}
